.nav{
    grid-area: n;
    background-color: var(--coloro-gray);

}

.item .activeLink{
    color: var(--coloro-yellow);
}


.item a{
    padding-left: 15px;
    color: var(--coloro-black);
    text-decoration: none;
}