.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:  "di mi";
    border-right: 1px solid var(--coloro-black);

}

.dialogs-block {
    grid-area: di;
}

.dialog {
    padding-left: 15px;
}

.messages-block {
    grid-area: mi;
    display: flex;
    flex-direction: column;
}

